In [ ]:
# syntax

def function_name(parameters):
    """Docstring"""
    #function body
    return expression

In [1]:
def e_or_o(num):
    """This function finds even or odd"""
    if num % 2 == 0:
        print("The number is even")
    else:
        print("the number is odd")

In [4]:
## calling the function
e_or_o(7)
e_or_o(int(input("Enter a number: ")))

the number is odd
The number is even

In [6]:
# function with multiple parameters

def add(a, b):
    """This does the sum"""
    return a + b

result = add(7, 8)
print(result)

15

In [7]:
# default parameters

def greet(name = "Bruce"):
    print(f"Your name is {name}")

greet()

Your name is Bruce

In [8]:
# variable length arguments 
# positional and keywords arguments

def print_var(*args):
    for n in args:
        print(n)

In [9]:
print_var(1,2,3,"Bruce")

1
2
3
Bruce

In [12]:
# keyword argument

def print_k(**kwargs):
    for key, value in kwargs.items():
        print(f"key = {key} , value = {value}")

In [13]:
print_k(name = "Bruce", age = 44, city = "Gotham")

key = name , value = Bruce
key = age , value = 44
key = city , value = Gotham

In [14]:
def print_p_k(*args, **kwargs):
    for v in args:
        print(f"From Positional Argument {v}")

    for k, val in kwargs.items():
        print(f"From Keyword Argument {k} {val}")

In [16]:
print_p_k(1,2,3,5,6,"Bruce", name = "Clark", age = 36, city = "Metropolis")

From Positional Argument 1
From Positional Argument 2
From Positional Argument 3
From Positional Argument 5
From Positional Argument 6
From Positional Argument Bruce
From Keyword Argument name Clark
From Keyword Argument age 36
From Keyword Argument city Metropolis

In [ ]:
# return statements

def mult(a, b):
    return a*b

mult(2,3)

6

In [18]:
def sums(a, b):
    return a + b, a

sums(3,4)

(7, 3)