In [2]:
def squares(x):
    return x * x

In [5]:
numbers = [1,2,3,4,5,6,7,8,9]

list(map(squares, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
list(map(lambda x : x * x, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
numbers2 = [11,12,13,14,15,16,17,18,19]

sums = list(map(lambda x, y : x + y, numbers, numbers2))

print(sums)

[12, 14, 16, 18, 20, 22, 24, 26, 28]

In [9]:
s = ['1', '2', '3', '4', '5']
i = list(map(int, s))

print(i)
print(type(i))

[1, 2, 3, 4, 5]
<class 'list'>

In [10]:
words = ['apple', 'banana', 'mango']

upper_case = list(map(str.upper, words))

print(upper_case)

['APPLE', 'BANANA', 'MANGO']

In [11]:
def get_n(persons):
    return persons['name']


people = [
    {'name' : 'Bruce', 'age' : 45},
    {'name' : 'Clark', 'age' : 35}
]

list(map(get_n, people))

['Bruce', 'Clark']