In [1]:
# creting a set
my_set = {1, 3, 5 ,7 ,9}
print(my_set)
print(type(my_set))

{1, 3, 5, 7, 9}
<class 'set'>

In [3]:
my_empty = set()
print(type(my_empty))

<class 'set'>

In [5]:
my_empty = set([1,2,3,4,5,5])
print(my_empty)

{1, 2, 3, 4, 5}

In [7]:
# set opertions

# adding and removing
my_set.add(6)
print(my_set)

{1, 3, 5, 6, 7, 9}

In [8]:
my_set.remove(5)
print(my_set)

{1, 3, 6, 7, 9}

In [9]:
my_set.pop()

1

In [10]:
print(my_set)

{3, 6, 7, 9}

In [11]:
my_set.clear()

In [12]:
print(my_set)

set()

In [15]:
# set membership

my_set = {1,3,5,7,9}
print(3 in my_set)
print(2 in my_set)

True
False

In [16]:
# mathematical operations
set2 = {2,4,6,8}

# union
union_set = set2.union(my_set)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [17]:
# intersection

inter_set = my_set.intersection(union_set)
print(inter_set)

{1, 3, 5, 7, 9}

In [19]:
my_set.intersection_update(union_set)
print(my_set)

{1, 3, 5, 7, 9}

In [21]:
# difference

print(union_set.difference(my_set))

{8, 2, 4, 6}

In [22]:
# symmetric difference

my_set.symmetric_difference(union_set)

{2, 4, 6, 8}

In [23]:
# set methods

set1 = {1,2,3}
set2 = {4,5,6}

# is subset
print(set1.issubset(set2))

False

In [24]:
# superset

set1.issuperset(set2)

False

In [25]:
lst = [1,2,2,4,6,5,6]

set(lst)

{1, 2, 4, 5, 6}

In [31]:
# counting unique words in text 

texts = "We are discussing about sets are"

words = texts.split()

# convert list of words to set

unique_set = set(words)
print(unique_set)
print(len(unique_set))

{'about', 'We', 'discussing', 'are', 'sets'}
5